header.header#header
  .container
    .header__inner
      a.header__logo(href="/")
        img(src="img/header/logo.svg", alt="")
      ul.header__list
        li.header__list-item
          a(href="") О нас
        li.header__list-item
          a(href="") Услуги
        li.header__list-item
          a(href="") Вакансии
        li.header__list-item
          a(href="") Новости
        li.header__list-item
          a(href="") Соглашения